.input_block {text-align:left; line-height:25px;}
.input_block label {float:left; padding-right:10px;}
.main {float:left}
.input_buttons {line-height:50px;}
fieldset{font-family: 'Rubik Storm', cursive;}