*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto;
    background: #E5E5E5;
}
.container{
    margin: 0 150px;
}
.main-title{
    text-align: center;
    padding: 55px 0;
    font-style: normal;
    color: #753C20;
    text-transform: uppercase;
}
.block {
    display: flex;
    margin-bottom: 55px;
}
img{
    width: 400px;
    height: 300px;
}
.block-text {
    margin: 0 55px;
}
.title {
    margin-bottom: 55px;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    line-height: 42px;
    color: #D89B82;
}
.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}
.join-title{
    margin-bottom: 34px;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #E78326;
}
.join-text{
    margin-bottom: 55px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #000000;
}
.email{
    color: #E78326;
}



